* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans';
}

.titulo {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.title {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.nav {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_titulo {
    color: white;
    font-weight: 600;
}

.nav__link {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 30px;
}

a:hover {
    color: aqua;
}

.nav__logo {
    width: 55px;
    height: 45%;
    margin: 0 5px;
}

.subtitulo {
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.imagen {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 5%;
}

.imagen_grande {
    width: 600px;
    height: 800px;
    margin: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px black;
    border-radius: 5%;
}

.container__section {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.copy {
    text-align: center;
    justify-content: center;
}

p {
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.container__footer {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.imagen:hover {
    animation: mover 1s ease-in-out;
    cursor: pointer;
}

.imagen_grande:hover {
    animation: mover 1s ease-in-out;
    cursor: pointer;
}

@keyframes mover {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-10px);
    }
}